.user-interface
    min-height: 100vh
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    &__dice-container
        display: flex
        width: 100%
        justify-content: space-around

    &__btn
        margin-top: 3rem